@charset "utf-8";
@use "./settings/" as *;
@use "sass:math";


//-----------------------------------------------------
// header
//-----------------------------------------------------

.header {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: vw(74);

    @include mq {
        height: vwt(100);
    }

    @include mq(lg) {
        height: px2Rem(100);
    }

    &__container {

        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;

        @include mq {
            max-width: vwt($pc-content-width);
            padding: 0 vwt(22);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
            padding: 0 px2Rem(22);
        }

    }

    &__logo {

        width: vw(143);
        padding-left: vw(2);
        margin: vw(3) auto 0;

        @include mq {
            width: vwt(166);
            margin: 0 auto;

            padding-left: 0;

        }

        @include mq(lg) {
            width: px2Rem(166);
        }
    }
}

//-----------------------------------------------------
// フッター
//-----------------------------------------------------


// .container {
//     padding: vw(50) vw(16);
//     margin-inline: auto;

//     @include mq {
//         max-width: vwt($pc-content-width);
//         padding: 0 vwt(22);
//         margin: vwt(48) auto;
//     }

//     @include mq(lg) {
//         max-width: px2Rem($pc-content-width);
//         padding: 0 px2Rem(22);
//         margin: px2Rem(48) auto;
//     }

//     &--faq {

//         padding: vw(33) vw(16);

//         @include mq {
//             margin: 0 auto;
//             padding: 0;

//         }
//     }
// }

// .section {
//     &--faq {
//         background-image: linear-gradient(90deg,
//                 rgba(244, 255, 232, 1),
//                 rgba(198, 240, 254, 1));

//         @include mq {
//             padding: vwt(40) 0;
//         }

//         @include mq(lg) {
//             padding: px2Rem(40) 0;
//         }
//     }
// }

.footer {
    position: relative;
    background: $color-main;
    color: $color-contrast;
    text-align: center;

    &__container {
        padding: vw(24) vw(45);
        position: relative;

        @include mq {
            width: vwt(1200);
            margin: 0 auto;
            padding: vwt(40) vwt(32) vwt(40) vwt(34);

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @include mq(lg) {
            width: px2Rem(1200);
            margin: 0 auto;
            padding: px2Rem(40) px2Rem(32) px2Rem(40) px2Rem(34);


        }
    }

    &__logo {
        width: vw(164);
        margin: vw(7) auto vw(29);

        @include mq {
            width: vwt(186);
            margin: 0;
        }

        @include mq(lg) {
            width: px2Rem(186);
        }
    }

    &__copyright {
        font-size: vw(12);
        letter-spacing: .055em;

        @include mq {
            font-size: vwt(12);
            letter-spacing: .09em;
            margin-left: 0;
            margin-top: vwt(3);
        }

        @include mq(lg) {
            font-size: px2Rem(12);
            margin-top: px2Rem(3);


        }
    }


}

.footer-menu {
    font-size: vw(12);
    display: flex;
    justify-content: space-between;
    margin-bottom: vw(20);

    @include mq {
        width: vwt(344);
        font-size: vwt(14);
        margin: 0 0 0 vwt(50);
    }

    @include mq(lg) {
        width: px2Rem(344);
        font-size: px2Rem(14);
        margin: 0 0 0 px2Rem(50);
    }

}

//-----------------------------------------------------
// メインビジュアル
//-----------------------------------------------------
.mainvisual {
    background: url(/assets/image/mainVisual_sp.jpg) center center / cover no-repeat;
    width: 100%;
    height: vw(450);
    margin-bottom: vw(157);

    @include mq {
        background: url(/assets/image/mainVIsual_pc.jpg) center center / cover no-repeat;
        height: vwt(720);
        margin-bottom: 0;
    }

    @include mq(lg) {
        height: px2Rem(720);
    }

    &__container {
        position: relative;
        height: 100%;
        padding: vw(50) vw(16);
        margin-inline: auto;

        @include mq {
            max-width: vwt($pc-content-width);
            padding: 0 vwt(22);
            margin: 0 auto;
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
            padding: 0 px2Rem(22);
        }

    }

    &__box {
        position: absolute;
        left: vw(23);
        bottom: vw(-107);

        @include mq {
            top: 37.5%;
            left: vwt(72);
            bottom: unset;

        }

        @include mq(lg) {
            left: px2Rem(72);
        }
    }



    &__title {
        font-size: vw(41);
        @include lineheight(41, 51);
        font-family: "Marcellus", serif;
        @include l_spacing(300);

        @include mq {
            font-size: vwt(50);
            @include lineheight(50, 68)
        }

        @include mq(lg) {
            font-size: px2Rem(50);
        }
    }

    &__text {
        font-size: vw(20);
        @include lineheight(20, 29);
        @include l_spacing(300);
        margin-top: vw(7);
        display: block;
        font-family: $font-family;

        @include mq {
            margin-top: vwt(10);
            font-size: vwt(25);
            @include lineheight(25, 31);

        }

        @include mq(lg) {
            margin-top: px2Rem(10);
            font-size: px2Rem(25);
        }
    }

}

//-----------------------------------------------------
// コンポーネント
//-----------------------------------------------------

.title {
    text-align: center;
    margin-bottom: vw(32);
    @include l_spacing(50);

    @include mq {
        margin-top: vwt(80);
        margin-bottom: vwt(33);
        padding-left: vwt(2);
    }

    @include mq(lg) {
        margin-top: px2Rem(80);
        margin-bottom: px2Rem(33);
        padding-left: px2Rem(2);

    }

    &__main {
        display: block;
        font-size: vw(30);
        font-weight: bold;
        font-family: "EB Garamond", serif;
        line-height: 1.27;
        @include l_spacing(50);

        @include mq {
            font-size: vwt(45);
            line-height: 1.18;
        }

        @include mq(lg) {
            font-size: px2Rem(45);
        }
    }

    &__sub {
        display: block;
        font-weight: 600;
        @include lineheight(16, 32);
        font-size: vw(16);

        @include mq {
            font-size: vwt(20);
            margin-top: vwt(4);
        }

        @include mq(lg) {
            font-size: px2Rem(20);
            margin-top: px2Rem(4);

        }
    }

    &--qanda {
        margin-bottom: vw(33);

        @include mq {
            margin-top: vwt(4);
            margin-bottom: vwt(34);

        }

        @include mq(lg) {
            margin-top: px2Rem(4);
            margin-bottom: px2Rem(34);

        }
    }
}

.button {
    display: block;
    margin-inline: auto;
    padding: vw(14);
    border-radius: 2em;
    text-align: center;
    color: $color-contrast;
    font-weight: 600;
    font-size: vw(18);
    background-color: $color-success;
    @include lineheight(18, 26);
    border: 2px solid transparent;
    transition: .25s;

    &:focus,
    &:hover {
        background-color: $color-contrast;
        border-color: currentColor;
        opacity: 1;
        color: $color-success;
    }

    &--attention {
        background-color: $color-attention;
        width: 100%;

        &:focus,
        &:hover {
            background-color: $color-contrast;
            color: $color-attention;
        }
    }

    @include mq {
        padding: vwt(15);
        font-size: vwt(18);
        // @include lineheight(24, 36);
    }

    @include mq(lg) {
        padding: px2Rem(15);
        font-size: px2Rem(18);
    }
}

.pagetop {

    &__container {
        // position: relative;
        display: flex;
        // margin: 0 vw(16);
        justify-content: flex-end;
        padding-right: vw(16);
        margin-top: vw(9);
        position: sticky;

        // bottom: 10px;
        // left: auto;
        @include mq {
            max-width: 1200px;
            margin: 0 auto;
            padding-right: 0;

        }


    }

    &__button {
        // position: sticky;
        bottom: 10px;
        left: 0;
        // left: auto;
        // top: auto;
        z-index: 10;
        display: block;
        opacity: 0;
        visibility: hidden;
        // transition: opacity 0.3s, visibility 0.3s;
        width: vw(40);
        height: vw(40);
        transition: .3s;
        background: url(/assets/image/icon_to_top.svg) center center / contain no-repeat;

        &:hover {
            background: url(/assets/image/icon_to_top_hover.svg) center center / contain no-repeat;
            opacity: 1;
        }

        @include mq {
            width: vwt(40);
            height: vwt(40);
        }

        @include mq(lg) {
            width: px2Rem(40);
            height: px2Rem(40);
        }

        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }


}

//-----------------------------------------------------
// レイアウト
//-----------------------------------------------------
.media {
    background: url(/assets/image/media_bg_sp.jpg) center center / cover no-repeat;
    width: 100%;
    color: $color-contrast;

    @include mq {
        background: url(/assets/image/media_bg_pc.jpg) center center / cover no-repeat;

    }

    &__container {
        padding: vw(50) vw(16);
        margin: vw(50) auto;

        @include mq {
            max-width: vwt($pc-content-width);
            padding: 0 vwt(22);
            margin: vwt(48) auto;
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
            padding: 0 px2Rem(22);
            margin: px2Rem(48) auto;
        }
    }

    &__box {
        padding: 0 0 vw(262);

        @include mq {
            max-width: vwt(430);
            margin-left: auto;
            margin-right: vwt(70);
            padding: vwt(124) 0 vwt(120);

        }

        @include mq(lg) {
            max-width: px2Rem(430);
            margin-right: px2Rem(70);
            padding: px2Rem(124) 0 px2Rem(120);
        }
    }

    &__title {
        font-size: vw(30);
        font-family: "EB Garamond", serif;
        font-weight: bold;
        margin-bottom: vw(16);
        line-height: 1.2;
        text-align: center;

        @include mq {
            font-size: vwt(38);
            margin-bottom: vwt(20);

            @include lineheight(38, 54);
            text-align: left;
        }

        @include mq(lg) {
            font-size: px2Rem(38);
            margin-bottom: px2Rem(20);

        }

        &--sub {
            font-size: vw(24);
            font-family: $font-family;
            font-weight: 600;
            display: block;
            margin-top: vw(13);

            // margin-bottom: vw(15);
            text-align: center;

            @include mq {
                font-size: vwt(24);
                // margin-bottom: vwt(19);
                margin-top: vwt(6);
                text-align: left;

            }

            @include mq(lg) {
                font-size: px2Rem(24);
                // margin-bottom: px2Rem(19);
                margin-top: px2Rem(6);

            }
        }
    }

    &__text {
        font-size: vw(14);
        @include lineheight(14, 32);

        @include mq {
            font-size: vwt(14);
        }

        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
}

.voices {
    &__container {
        padding: 0 vw(16) vw(51);
        margin-inline: auto;

        @include mq {
            max-width: vwt($pc-content-width);
            padding: 0 vwt(22);
            margin: vwt(83) auto vwt(80);
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
            padding: 0 px2Rem(22);
            margin: px2Rem(83) auto px2Rem(80);
        }
    }
}

.cta {
    &--fix {
        margin-top: vw(50);

        @include mq {
            margin-top: 0;
        }
    }

    &__container {
        background: $color-pale;
        margin-inline: auto;
        padding: vw(18) vw(29) vw(34);
        max-width: vw(358);

        @include mq {
            display: flex;
            justify-content: space-between;
            // padding: vwt(55) vwt(20);
            max-width: vwt(1000);
            padding: vwt(43) vwt(48);
            margin: vwt(48) auto;
        }

        @include mq(lg) {
            max-width: px2Rem(1000);
            padding: px2Rem(43) px2Rem(48);
            margin: px2Rem(48) auto;
        }

        &--fix {
            @include mq {
                padding: vwt(44) vwt(48) vwt(43) vwt(48);
                margin-bottom: vwt(7);
            }

            @include mq(lg) {
                padding: px2Rem(44) px2Rem(48) px2Rem(43) px2Rem(48);
                margin-bottom: px2Rem(7);

            }
        }
    }

    &__text {
        text-align: center;
        font-size: vw(18);
        font-weight: 600;
        letter-spacing: .1em;

        @include mq {
            font-size: vwt(24);
            @include l_spacing(100);
            line-height: 1.2;

        }

        @include mq(lg) {
            font-size: px2Rem(24);

        }

        &--small {
            font-size: vw(14);
            font-weight: normal;

            @include mq {
                text-align: left;
                font-size: vwt(16);
                margin-top: vwt(12);
            }

            @include mq(lg) {
                font-size: px2Rem(16);
                margin-top: px2Rem(12);

            }
        }
    }

    &__space {
        margin-left: vw(5);

        @include mq {
            margin-left: vwt(6);
        }

        @include mq(lg) {
            margin-left: px2Rem(6);
        }
    }

    &__button {
        margin-bottom: vw(20);

        @include mq {
            margin-right: vwt(32);
            margin-bottom: 0;
            width: vwt(300);
        }

        @include mq(lg) {
            margin-right: px2Rem(32);

            width: px2Rem(300);

        }

        &:last-child {
            margin-bottom: 0;

            @include mq {
                margin-right: 0;

            }
        }
    }

    &__button-wrapper {
        margin: vw(17) auto 0;

        @include mq {

            display: flex;
            margin: 0;
        }
    }
}

.slider {
    position: relative;
    width: vw(280);
    margin-inline: auto;

    &__wrapper {
        @include mq {
            margin: vwt(35) auto 0;
        }

        @include mq(lg) {
            margin: px2Rem(35) auto 0;
        }
    }

    @include mq {
        width: vwt(980);
    }

    @include mq(lg) {
        width: px2Rem(980);
    }

    &__item {
        background: $color-background;
        padding: vw(15) vw(15) vw(24);

        @include mq {
            width: vwt(300);
            padding: vwt(23) vwt(16) vwt(37);

        }

        @include mq(lg) {
            width: px2Rem(300);
            padding: px2Rem(23) px2Rem(16) px2Rem(37);


        }
    }

    &__image {
        width: vw(80);
        text-align: center;
        margin-inline: auto;
        margin: vw(13) auto vw(6);

        @include mq {
            width: vwt(100);
            margin: vwt(17) auto vwt(5);
        }

        @include mq(lg) {
            width: px2Rem(100);
            margin: px2Rem(17) auto px2Rem(5);

        }
    }

    &__name {
        text-align: center;
    }

    &__box {
        margin-top: vw(13);
        @include lineheight(14, 28);

        @include mq {
            margin-top: vwt(10);
            @include lineheight(16, 28);

        }

        @include mq(lg) {
            margin-top: px2Rem(10);


        }
    }

    &__button {
        top: 52%;
        width: vw(32);
        height: vw(32);

        @include mq {
            top: 49.3%;

            width: vwt(48);
            height: vwt(48);
        }

        @include mq(lg) {
            width: px2Rem(48);
            height: px2Rem(48);
        }

        &::after {
            background-image: url(/assets/image/icon_arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            margin: auto;
            width: vw(32);
            height: vw(32);

            @include mq {
                width: vwt(48);
                height: vwt(48);
            }

            @include mq {
                width: px2Rem(48);
                height: px2Rem(48);
            }
        }

        &--prev {
            left: vw(-39);

            @include mq {
                left: vwt(-88);

            }

            @include mq(lg) {
                left: px2Rem(-88);
            }
        }

        &--next {
            right: vw(-39);
            transform: rotate(180deg);

            @include mq {
                right: vwt(-88);

            }

            @include mq(lg) {
                right: px2Rem(-88);
            }
        }
    }

    &__pagination {
        position: static;
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem 0.8rem;
        justify-content: center;
        margin-top: vw(17);
        text-align: center;

        @include mq {
            margin-top: vwt(24);
        }

        @include mq(lg) {
            margin-top: px2Rem(24);


        }
    }
}

.swiper-pagination-bullet {
    @include mq {
        width: vwt(9);
    }

    @include mq(lg) {
        width: px2Rem(9);
    }

}

.swiper-pagination-bullet-active {
    background: #00AFBF;
}

.slider__pagination {
    gap: 1.2rem 1px;

}

.qanda {
    background-image: linear-gradient(90deg,
            rgba(244, 255, 232, 1),
            rgba(198, 240, 254, 1));

    @include mq {
        padding: vwt(40) 0;
    }

    @include mq(lg) {
        padding: px2Rem(40) 0;
    }

    &__container {
        padding: vw(32) vw(16);
        margin-inline: auto;

        @include mq {
            max-width: vwt($pc-content-width);
            margin: 0 auto;
            padding: 0;
        }

        @include mq(lg) {
            max-width: px2Rem($pc-content-width);
        }
    }
}

.faq {
    &__wrapper {
        @include mq {
            width: vwt(600);
            margin-inline: auto;
        }

        @include mq(lg) {
            width: px2Rem(600);
            margin-inline: auto;
        }
    }

    @include mq {
        width: vwt(600);
    }

    @include mq(lg) {
        width: px2Rem(600);
    }

    &__question {
        width: 100%;
        display: flex;
        color: $color-second;
        align-items: flex-start;
        padding: vw(16) vw(16) vw(12);
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        background: $color-contrast;

        &[aria-expanded=true] .faq__action::before {
            top: 60%;
            transform: translate(-50%, -50%) rotate(180deg);
            // transform: translateX(-50%) rotate(0deg);
        }

        &[aria-expanded=false] {
            padding-bottom: vw(17);

            @include mq {
                // padding: vwt(24);
                padding: vwt(25) vwt(24) vwt(22) vwt(24);
            }

            @include mq(lg) {
                // padding: px2Rem(24);
                padding: px2Rem(25) px2Rem(24) px2Rem(22) px2Rem(24);

            }
        }

        @include mq {
            padding: vwt(24);
            align-items: center;
            padding: vwt(25) vwt(24) vwt(20) vwt(24);
        }

        @include mq(lg) {
            padding: px2Rem(25) px2Rem(24) px2Rem(20) px2Rem(24);


        }
    }

    dt:not(:first-child) {
        margin-top: vw(20);

        @include mq {
            margin-top: vwt(24);

        }

        @include mq(lg) {
            margin-top: px2Rem(24);

        }
    }

    &__q-icon {
        flex-shrink: 0;
        line-height: 1;
        vertical-align: middle;
        font-size: vw(16);
        margin-top: vw(5);
        font-family: "EB Garamond", serif;

        @include mq {
            font-size: vwt(18);
            margin-top: 0;
        }

        @include mq(lg) {
            font-size: px2Rem(18);

        }
    }

    &__q-text {
        font-size: vw(15);
        flex-grow: 1;
        margin-left: vw(15);
        @include lineheight(15, 28);

        @include mq {
            font-size: vwt(15);
            margin-left: vwt(16);
            line-height: 1.6;
        }

        @include mq(lg) {
            font-size: px2Rem(15);
            margin-left: px2Rem(16);

        }
    }

    &__answer {
        display: flex;
        padding: 0 vw(17) vw(30);

        @include mq {
            padding: 0 vwt(24) vwt(20) vwt(24);
        }

        @include mq(lg) {
            padding: 0 px2Rem(24) px2Rem(20) px2Rem(24);

        }
    }

    &__a-icon {

        flex-shrink: 0;
        font-size: vw(16);
        font-weight: bold;
        line-height: 1;
        vertical-align: middle;
        margin-top: vw(5);
        font-family: "EB Garamond", serif;

        @include mq {
            font-size: vwt(18);
            margin-top: vwt(5);

        }

        @include mq(lg) {
            font-size: px2Rem(18);
            margin-top: px2Rem(5);

        }
    }

    &__a-text {
        margin-left: vw(15);
        font-size: vw(15);

        @include mq {
            font-size: vwt(15);
            margin-left: vwt(16);


        }

        @include mq(lg) {
            font-size: px2Rem(15);
            margin-left: px2Rem(16);


        }

        p {
            @include lineheight(15, 28);

            @include mq {
                line-height: 1.85;
            }
        }
    }

    &__panel {
        background: $color-contrast;
        display: none;
    }

    &__action {
        flex-shrink: 0;
        position: relative;
        display: block;
        width: vw(13);
        height: vw(28);
        margin-left: auto;

        @include mq {
            width: vwt(12);
            height: vwt(12);
        }

        @include mq {
            width: px2Rem(12);
            height: px2Rem(12);
        }

        &::before {
            background: url(/assets/image/icon_caret-up-fill.svg)center center / contain no-repeat;
            position: absolute;
            content: "";
            display: block;
            width: vw(10);
            height: vw(10);
            transition: all .3s;
            top: 43%;
            left: 50%;
            transform: translateX(-50%) rotate(0deg);

            @include mq {
                top: 50%;
                transform: translate(-50%, -50%) rotate(0deg);

                width: vwt(12);
                height: vwt(12);
            }

            @include mq {
                width: px2Rem(12);
                height: px2Rem(12);
            }
        }
    }

}